* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.grid-lights {
  border: 1px solid green;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
  gap: 10px;
}

.grid-cell {
  border: 1px solid green;
  cursor: pointer;
}

.fill {
  background-color: green;
}